<div class="container">
    <div class="row firstRow">
        <div class="col text-center">
            <h1>Welcome to the calculator</h1>
            <p>try Our calculator today!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input id="numberA" placeholder="5">
        </div>
        <div class="col">
            <select id="selectOp" placeholder="- Select -" class="dropdown" v-model="select">
                <option value=""><label>- Select -</label></option>
                <option value="Plus">Plus +</option>
                <option value="Minus">Minus -</option>
                <option value="Multiplication">Multiplication *</option>
                <option value="Division">Division /</option>
                <option></option>
             </select>
        </div>
        <div class="col">
            <input id="numberB" placeholder="5">
        </div>
        <div class="col">
            <button id="buttonTotal" @click="sumInputs">click here to check</button>
        </div>
        <div class="col">
            <h2>your</h2><h2 id="totalOfExcercise">10</h2>
        </div>
    </div>
</div>