<div class="container">
    <div class="row firstRow">
        <div class="col text-center">
            <h1>Welcome to the calculator</h1>
            <h2>try Our calculator today!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="styleSize" id="numberA" placeholder="5">
        </div>
        <div class="col">
            <select id="selectOp" placeholder="- Select -" class="dropdown styleSize" v-model="select">
                <option value="">- Select -</option>
                <option value="Plus">Plus +</option>
                <option value="Minus">Minus -</option>
                <option value="Multiplication">Multiplication *</option>
                <option value="Division">Division /</option>
             </select>
        </div>
        <div class="col">
            <input class="styleSize" id="numberB" placeholder="5">
        </div>
        <div class="col">
            <button class="styleSize btn-danger" id="buttonTotal" @click="sumInputs">click here to check</button>
        </div>
        <div class="col">
            <h3 id="totalOfExcercise">10</h3>
        </div>
    </div>
</div>